
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.backgroundp1{
  background-image: url(photo/nicecolor.jpg);
  background-size: cover;
}

.backgroundp2{
  background-image: url(photo/bluebg.jpg);
  background-size: cover;
}

.contactmebg{
  background-image: url(photo/nicecolor.jpg);
  background-size: cover;
}

  footer{
    background-color: black;
  }
   footer p{
        color: aliceblue;
   }

  .space{
    padding-top: 15px;
    padding-bottom: 15px;
  }

.iconfs{
  font-size: 80px;
  margin-left: 10px;
}

.fp-watermark{
  display: none;
}


.somespace{
  margin-top: 10px;
  margin-bottom: 10px;
}

i{
  color: black;
}