
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

  /* .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index:-1 !important;
  } */

.part1{
    margin-top: 90px;
    margin-bottom: 500px;
}


  footer{
    background-color: black;
  }
  footer p{
        color: aliceblue;
  }
 
  .space{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h4{
    color: whitesmoke;
  }

  p{
    color: whitesmoke;
  }

.high h2{
  color: whitesmoke;
}
